---
import schooltry from '@/icons/schooltry.svg';
import amazin from '@/icons/amazin.svg';
import upwork from '@/icons/upwork.svg';
import trivox from '@/icons/trivox.svg';
import hackerrank from '@/icons/hackerrank.svg';
import emmersion from '@/icons/emmersion.svg';
import { buttonVariants } from '../components/ui/Button';
import Certificate from './experience/Certificate.astro';
import ExperienceItem from './experience/ExperienceItem.astro';

const experiences = [
  {
    logo: schooltry,
    position: 'Full Stack Developer',
    company: 'SchoolTry',
    start: 'August 2024',
    end: 'Present',
  },
  {
    logo: amazin,
    position: 'Senior Frontend Developer',
    company: 'Amazin Trips',
    start: 'November 2023',
    end: 'June 2024',
  },
  {
    logo: trivox,
    position: 'Software Engineer',
    company: 'Trivox',
    start: 'January 2021',
    end: 'November 2023',
    imgFilter: 'invert grayscale',
  },
  {
    logo: upwork,
    position: 'Full Stack Developer',
    company: 'Freelance (Upwork)',
    start: 'August 2019',
    end: 'January 2021',
  },
];

const certificates = [
  {
    link: 'https://drive.google.com/file/d/1o5sIoZeWH-jHPMqbaghIvcpxSe4E5Ejp/view?usp=sharing',
    title: 'English Speaking',
    provider: 'Emmersion',
    logo: emmersion,
  },
  {
    link: 'https://www.hackerrank.com/certificates/42427ecd9038',
    title: 'Problem Solving',
    provider: 'HackerRank',
    logo: hackerrank,
  },
  {
    link: 'https://www.hackerrank.com/certificates/a26331cc0363',
    title: 'JavaScript',
    provider: 'HackerRank',
    logo: hackerrank,
  },
  {
    link: 'https://www.hackerrank.com/certificates/c00bf27ce197',
    title: 'React',
    provider: 'HackerRank',
    logo: hackerrank,
  },
];
---

<section id="experience" class="">
  <div
    class="flex flex-col gap-x-8 bg-neutral-100 px-6 py-24 md:flex-row md:flex-wrap lg:gap-x-32 lg:px-24"
  >
    <div class="md:basis-1/2">
      <h2 class="text-2xl font-semibold">Working Experience</h2>
      <div class="py-8">
        {experiences.map((exp) => <ExperienceItem {...exp} />)}
      </div>
    </div>
    <div class="md:flex-1">
      <h2 class="text-2xl font-semibold">Certificates</h2>
      <div class="py-8">
        {certificates.map((cert) => <Certificate {...cert} />)}
      </div>
    </div>
    <div class="basis-full text-center">
      <a
        href="https://drive.google.com/drive/folders/1MaUT8dM9xsGHTTv5EVJ745qTjP9iMaHa?usp=drive_link"
        target="_blank"
        class={buttonVariants()}
      >
        My up-to-date resume
      </a>
    </div>
  </div>
</section>
