---
import Banner from './header/Banner.astro';
import Navigation from './header/Navigation.astro';
---

<header class="flex min-h-[960px] snap-start flex-col pt-40">
  <div
    class="fixed left-0 top-24 z-50 h-12 w-full bg-gradient-to-b from-background to-[#a981ff00]"
  >
  </div>
  <Navigation />
  <Banner />
</header>
