---
import Banner from './header/Banner.astro';
import Navigation from './header/Navigation.astro';
---

<header class="flex flex-col pt-40 lg:min-h-screen">
  <div
    class="fixed left-0 top-36 h-20 w-full bg-gradient-to-b from-[#ffff] to-[#fff0]"
  >
  </div>
  <Navigation />
  <Banner />
</header>
