---
import Banner from './header/Banner.astro';
import Navigation from './header/Navigation.astro';
---

<header class="flex flex-col pt-40 lg:min-h-screen">
  <div
    class="fixed left-0 top-24 h-12 w-full bg-gradient-to-b from-[#ffff] to-[#fff0] lg:top-36 lg:h-20"
  >
  </div>
  <Navigation />
  <Banner />
</header>
