---
import { Image } from 'astro:assets';
import { linkedIn } from '@/constants/links';
import NavMenu from './navigation/NavMenu';
import NigerianTime from './navigation/NigerianTime';
import NavLink from './navigation/NavLink.astro';
import { buttonVariants } from '@/components/ui/Button';
import logo from '@/images/logo.svg';
---

<div class="fixed left-0 top-0 z-50 h-24 w-full bg-background py-4 lg:px-24">
  <nav
    class="mx-auto flex max-w-[1440px] items-center justify-between px-4 lg:px-0"
  >
    <div class="flex items-center gap-16">
      <Image src={logo} height={75} alt="Logo" />
      <ul class="hidden gap-8 lg:flex">
        <NavLink href="/#experience">Experience</NavLink>
        <NavLink href="/#projects">Projects</NavLink>
        <NavLink href="/#footer">Contact</NavLink>
      </ul>
    </div>
    <div class="flex items-center gap-8 xl:gap-16">
      <div class="font-bold">
        <div class="text-white">Nigeria</div>
        <NigerianTime client:load />
      </div>
      <div class="hidden lg:contents">
        <a href={linkedIn} class={buttonVariants()} target="_blank">
          Talk with me
        </a>
        <a
          href="https://rxresu.me/ore-codes/ore-adeleye-resume"
          target="_blank"
          class={buttonVariants({ variant: 'outline' })}
        >
          My up-to-date resume
        </a>
      </div>
    </div>
    <NavMenu client:idle />
  </nav>
</div>
