---
import { Image } from 'astro:assets';
import { clsx } from 'clsx';
import { linkedIn } from '@/constants/links';
import NavMenu from './navigation/NavMenu';
import NigerianTime from './navigation/NigerianTime';
import NavLink from './navigation/NavLink.astro';
import { buttonVariants } from '@/components/ui/Button';
import logo from '@/images/logo.svg';
---

<nav
  class="fixed left-0 top-0 z-40 flex h-36 w-full items-center justify-between bg-[#fff] px-6 py-8 lg:px-24"
>
  <div class="flex items-center gap-16">
    <Image src={logo} height={75} alt="Logo" />
    <ul class="hidden gap-8 lg:flex">
      <NavLink href="/#experience">Experience</NavLink>
      <NavLink href="/#projects">Projects</NavLink>
      <NavLink href="/#footer">Contact</NavLink>
    </ul>
  </div>
  <div class="flex items-center gap-8 xl:gap-16">
    <div class="font-bold">
      <div class="text-neutral-400">Nigeria</div>
      <NigerianTime client:load />
    </div>
    <a
      href={linkedIn}
      class={clsx(buttonVariants(), 'hidden lg:inline-flex')}
      target="_blank"
      >Talk with me
    </a>
  </div>
  <NavMenu client:idle />
</nav>
