---
import '@/styles/globals.css';
import Header from '@/chunks/Header.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Experience from '@/chunks/Experience.astro';
import Footer from '../chunks/Footer.astro';
import Projects from '../chunks/Projects.astro';
import Clients from '../chunks/Clients.astro';
---

<BaseLayout>
  <Header />
  <main class="contents">
    <Experience />
    <Projects />
    <Clients />
  </main>
  <Footer />
</BaseLayout>
