---
import Hero from "../components/Hero.astro";
import Past from "../components/Past.astro";
import Skills from "../components/Skills.astro";
import Horizon from "../components/Horizon.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Ore Adeleye" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ore-codes.github.io" />
    <meta
      property="og:image"
      content="https://ore-codes.github.io/og-image.png"
    />
    <meta
      property="twitter:image"
      content="https://ore-codes.github.io/og-image.png"
    />
    <meta property="og:site_name" content="Ore Adeleye" />
    <meta property="og:description" content="Ore Adeleye's personal website" />
    <title>Ore Adeleye portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-gradient-to-br from-[#4b2b63] to-[#1a1a1a] text-offwhite font-sans"
  >
    <div class="h-dvh overflow-y-scroll">
      <Hero />
      <Past />
      <Skills />
      <Horizon />
    </div>
  </body>
</html>
