---
import '@fontsource-variable/manrope';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og-image.png" />
    <meta property="twitter:image" content="/og-image.png" />
    <title>Ore Adeleye</title>
  </head>
  <body>
    <div class="mx-auto max-w-[1440px]">
      <slot />
    </div>
  </body>
</html>
