---
import '@fontsource-variable/manrope';
---

<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9MFYH87C0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D9MFYH87C0', {cookie_flags: 'SameSite=None;Secure'});
  </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Ore Adeleye"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://ore-codes.github.io"/>
    <meta property="og:image" content="https://ore-codes.github.io/og-image.png"/>
    <meta property="twitter:image" content="https://ore-codes.github.io/og-image.png" />
    <meta property="og:site_name" content="Ore Adeleye"/>
    <meta property="og:description" content="Ore Adeleye's personal website"/>
    <title>Ore Adeleye</title>
  </head>
  <body>
    <div class="mx-auto max-w-[1440px]">
      <slot />
    </div>
  </body>
</html>
